.forecast-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 19px;
    gap: 1em;
  }
  .forecast-detailsdate {
    font-weight: 900;
  }
  
  .forcast-detailshorizontal-capture {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
  }
  
  .grouped-vertical-view {
    display: flex;
    flex-direction: space-evenly;
    align-content: center;
    align-items: center;
    gap: 0.5em;
  }
  
  