.search-formbutton {
    background-color: #edf2f4;
    border: #edf2f4;
  }
  
  .search-forminput {
    padding: 8px 18px;
    border: 5px #2b2d42;
    border-radius: 25px;
  }
  
  .search-form {
    @media screen and (min-width: 900px) {
      width: 80%;
    }
  }